<form action="/articles" method="post">
    <label for="title">Title:</label><br>
    <input type="text" name="title" id="title"><br>
    <label for="content">Content:</label><br>
    <input type="text" name="content" id="content"><br>

    <input type="submit" value="Submit">
<form>